@import url(../../../css/csslayer.css);
.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.counters .charcoalium-counter, .counters .wood-counter, .counters .copper-counter, .counters .crystal-counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.counters .icon {
  margin-right: 5px;
}

html {
  /*background: url('img/background.jpg') #00587a;
  background-repeat: repeat;*/
}

.mode_3d #game_play_area_background {
  /*background: url('img/background.jpg') #00587a;
  background-repeat: repeat;*/
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/icons.png");
  background-size: auto 100%;
}
.icon.charcoalium {
  background-position: 0% 0%;
}
.icon.wood {
  background-position: 25% 0%;
}
.icon.copper {
  background-position: 50% 0%;
}
.icon.crystal {
  background-position: 75% 0%;
}
