@import url(../../../css/csslayer.css);
#table {
  position: relative;
  width: 1230px;
  height: 539px;
  background-image: url("img/board.jpg");
}
#table .row {
  height: 190px;
  width: 1005px;
  border: 1px solid red;
}
#table #row0 {
  position: absolute;
  top: 106px;
  left: 214px;
}
#table #row1 {
  position: absolute;
  top: 316px;
  left: 10px;
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.counters .charcoalium-counter, .counters .wood-counter, .counters .copper-counter, .counters .crystal-counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.counters .icon {
  margin-right: 5px;
}

html {
  /*background: url('img/background.jpg') #00587a;
  background-repeat: repeat;*/
}

.mode_3d #game_play_area_background {
  /*background: url('img/background.jpg') #00587a;
  background-repeat: repeat;*/
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/icons.png");
  background-size: auto 100%;
}
.icon.charcoalium {
  background-position: 0% 0%;
}
.icon.wood {
  background-position: 25% 0%;
}
.icon.copper {
  background-position: 50% 0%;
}
.icon.crystal {
  background-position: 75% 0%;
}
.icon.joker {
  background-position: 100% 0%;
}

#page-title .icon {
  width: 20px;
  height: 20px;
}
#page-title .icon {
  margin: -5px 0;
}

#mymachines .stockitem, #table .stockitem {
  border-radius: 10px;
  margin: 5px;
}
#mymachines .stockitem.selected, #table .stockitem.selected {
  box-shadow: 0 0 5px 2px white;
}
