@import url(../../../css/csslayer.css);
#table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#table-wrapper #table-resources {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: 60px;
  grid-column-gap: 50px;
  justify-content: center;
}
#table-wrapper #table-resources > div {
  position: relative;
}

#table {
  position: relative;
  width: 1230px;
  height: 539px;
  background-image: url("img/board.jpg");
  margin-top: 70px;
}
#table .point-marker {
  position: absolute;
  width: 44px;
  height: 44px;
  box-shadow: 1px 1px 2px 2px black;
  border-radius: 50%;
  background-image: url("img/points.png");
  background-size: auto 100%;
}
#table .point-marker.blue {
  background-position: 0% 0%;
}
#table .point-marker.red {
  background-position: 100% 0%;
}
#table .projects {
  position: absolute;
  top: -65px;
  left: 0;
}
#table .projects #project-deck {
  position: absolute;
  background-image: url("img/project-back.jpg");
  width: 134px;
  height: 93px;
  box-shadow: 3px 3px 0px 0px #333, 5px 5px 3px black;
  cursor: default;
}
#table .projects #table-projects {
  position: absolute;
  left: 176px;
}
#table .projects #table-projects .table-project-stock {
  position: absolute;
  top: 0px;
}
#table .machines {
  position: absolute;
  left: 6px;
  top: 102px;
}
#table .machines .machine-spot {
  position: absolute;
}
#table .machines #machine-deck {
  position: absolute;
  top: 208px;
  left: 1020px;
  background-image: url("img/card-back.jpg");
  width: 190px;
  height: 190px;
  box-shadow: 3px 3px 0px 0px #333, 5px 5px 3px black;
}

#playerstables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}
#playerstables .whiteblock {
  padding: 0;
}
#playerstables .player-table {
  display: flex;
}
#playerstables .player-table .name-column {
  width: 150px;
  text-overflow: ellipsis;
  padding: 5px;
  color: white;
  text-align: center;
}
#playerstables .player-table .name-column.blue.left {
  background: linear-gradient(0.25turn, #006e7d 60%, transparent);
}
#playerstables .player-table .name-column.blue.right {
  background: linear-gradient(0.75turn, #006e7d 60%, transparent);
}
#playerstables .player-table .name-column.red.left {
  background: linear-gradient(0.25turn, #a1311f 60%, transparent);
}
#playerstables .player-table .name-column.red.right {
  background: linear-gradient(0.75turn, #a1311f 60%, transparent);
}
#playerstables .player-table.right {
  flex-direction: row-reverse;
}
#playerstables .player-table .machines {
  flex: 1;
}

.player-board .counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.player-board .counters .charcoalium-counter, .player-board .counters .wood-counter, .player-board .counters .copper-counter, .player-board .counters .crystal-counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.player-board .counters .icon {
  margin-right: 5px;
}
.player-board .first-player {
  width: 48px;
  height: 48px;
}

html {
  /*background: url('img/background.jpg') #00587a;
  background-repeat: repeat;*/
}

.mode_3d #game_play_area_background {
  /*background: url('img/background.jpg') #00587a;
  background-repeat: repeat;*/
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/icons.png");
  background-size: auto 100%;
}
.icon.charcoalium {
  background-position: 0% 0%;
}
.icon.wood {
  background-position: 25% 0%;
}
.icon.copper {
  background-position: 50% 0%;
}
.icon.crystal {
  background-position: 75% 0%;
}
.icon.joker {
  background-position: 100% 0%;
}

#page-title .icon {
  width: 20px;
  height: 20px;
}
#page-title .icon {
  margin: -5px 0;
}

.dijitTooltipContents .icon {
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
}

.player-icon {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  background-image: url("img/players.png");
  background-size: auto 100%;
}
.player-icon.blue {
  background-position: 0% 0%;
}
.player-icon.red {
  background-position: 50% 0%;
}
.player-icon.first-player {
  background-position: 100% 0%;
}

.stockitem {
  border-radius: 10px;
  margin: 5px;
}
.stockitem.selected {
  box-shadow: 0 0 5px 6px white;
}
.stockitem.disabled {
  filter: contrast(0.6);
  cursor: not-allowed;
  pointer-events: none;
}

.cube {
  width: 32px;
  height: 32px;
  position: absolute;
}
.cube.resource0 {
  background-image: url("img/resource0-cubes.png");
}
.cube.resource1 {
  background-image: url("img/resource1-cubes.png");
}
.cube.resource2 {
  background-image: url("img/resource2-cubes.png");
}
.cube.resource3 {
  background-image: url("img/resource3-cubes.png");
}
.cube.aspect0 {
  background-position: 0% 100%;
}
.cube.aspect1 {
  background-position: 33.3333333333% 100%;
}
.cube.aspect2 {
  background-position: 66.6666666667% 100%;
}
.cube.aspect3 {
  background-position: 100% 100%;
}
.cube.resource0.aspect0 {
  background-position: 0% 100%;
}
.cube.resource0.aspect1 {
  background-position: 14.2857142857% 100%;
}
.cube.resource0.aspect2 {
  background-position: 28.5714285714% 100%;
}
.cube.resource0.aspect3 {
  background-position: 42.8571428571% 100%;
}
.cube.resource0.aspect4 {
  background-position: 57.1428571429% 100%;
}
.cube.resource0.aspect5 {
  background-position: 71.4285714286% 100%;
}
.cube.resource0.aspect6 {
  background-position: 85.7142857143% 100%;
}
.cube.resource0.aspect7 {
  background-position: 100% 100%;
}
