#table {
  position: relative;
  width: 1230px;
  height: 539px;
  background-image: url('img/board.jpg');
  margin-top: 70px;

  .point-marker {
    position: absolute;
    width: 44px;
    height: 44px;
    box-shadow: 1px 1px 2px 2px black;
    border-radius: 50%;
    background-image: url('img/points.png');
    background-size: auto 100%;    
  
    &.blue {
      background-position: 0% 0%;
    }
  
    &.red {
      background-position: 100% 0%;
    }
  }

  .projects {
    position: absolute;
    top: -65px;
    left: 0;

    #table-projects {
        position: absolute;
        left: 176px;

        .table-project-stock {
            position: absolute;
            top: 0px;
        }
    }
  }

  .machines {
    position: absolute;
    left: 6px;
    top: 102px;
  }
}