.player-board {
  .counters {
    display: flex;
    align-items: center;
    margin: 5px 0;

    .charcoalium-counter, .wood-counter, .copper-counter, .crystal-counter {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .icon {
      margin-right: 5px;
    }
  }

  .fp-button-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 54px auto;

    .first-player {
      width: 48px;
      height: 48px;
    }

    .bgabutton_gray {
      background: none;
    }
  }
}

#player_boards {
  &.hide-buttons {
    .discarded-button {
      display: none;
    }
  }
}
