.counters {
    display: flex;
    align-items: center;
    margin: 5px 0;
  
    .charcoalium-counter, .wood-counter, .copper-counter, .crystal-counter {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }
  