
$machine-width: 190px; 
$machine-height: 190px;
$project-width: 134px; 
$project-height: 93px;

#popin_nicodemusDiscardedDialog {
    background: url('img/background.jpg') #eae3d3;
    background-repeat: repeat;
    max-width: 100vw;
    max-height: 80vh;
    overflow: hidden;
}

#discarded-popin {
    max-width: 35rem;
    max-height: calc(80vh - 80px);
    overflow: auto;

    h1 {
        color: black;
    }

    .discarded-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .message {
            padding: 10px;
            font-style: italic;
        }
    }
}