$blue: #006e7d;
$red: #a1311f;

#playerstables {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;

    .whiteblock {
        padding: 0;
    }

    .player-table {
        display: flex;

        .name-column {
            width: 150px;
            text-overflow: ellipsis;
            padding: 5px;
            color: white;
            text-align: center;

            &.blue.left {
                background: linear-gradient(0.25turn, $blue 60%, transparent);
            }
            &.blue.right {
                background: linear-gradient(0.75turn, $blue 60%, transparent);
            }

            &.red.left {
                background: linear-gradient(0.25turn, $red 60%, transparent);
            }
            &.red.right {
                background: linear-gradient(0.75turn, $red 60%, transparent);
            }
        }

        .player-resources {
            display: grid;
            grid-template-columns: repeat(3, 60px);
            grid-template-rows: 4fr 6fr;
            grid-row-gap: 5px;

            .top {
                grid-column: 1 / 4;
            }

            &>div {
                position: relative;
            }
        }

        &.right {
            flex-direction: row-reverse;
        }

        .machines {
            flex: 1;
        }
    }
}