#discarded-machines-selector {
    .complete-project {
        display: flex;
    }

    .project-infos {
        width: 142px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        span {
            font-weight: bold;
        }
        .machine-counter {
            color: red;

            &.valid {
                color: green;
            }

            &.validWarning {
                color: #9e8e01;
            }
        }
    }

    .machines {
        flex: 1;
    }

    .stockitem {
        &.selected {
            box-shadow: 0 0 5px 6px red;
        }
    }
}